# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Tkinter
3. Matlplotlib
4. Numpy

| Data Science Tools |
| --- |
| TensorFlow |
| MongoDB |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
 # This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**:
- Python
- R
- SQL

## Author
Manognya Kumar